.submit {
    padding: 10px 8px;
    background-color: green;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 10px;
}

.submit:hover {
    background-color: navy;
}

.reset {
    padding: 10px 10px;
    background-color: red;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 10px;
}

.reset:hover {
    background-color: navy;
}
