<div class="row">
    <div class="col-md-6">
        <div>
            <h1 class="customer">Customer Login</h1>
        </div>
        <form class="col-lg-12 p-5 mx-auto mt-5 text-center shadow form-horizontal" ngNativeValidate autocomplete="on"
            (ngSubmit)="onSubmitCustomer()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                <label for="email">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter your password">
                <label for="password">Password</label>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" type="reset">Reset</button>
        </form>
    </div>

    <div class="col-md-6">
        <div>
            <h1 class="admin">Admin Login</h1>
        </div>
        <form class="col-lg-12 p-5 mx-auto mt-5 text-center shadow" ngNativeValidate autocomplete="on"
            (ngSubmit)="onSubmitAdmin()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter your userName">
                <label for="userName">UserName</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter your password">
                <label for="password">Password</label>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" type="reset">Reset</button>
        </form>
    </div>
</div>
