<div class="row">

    <div class="col-md-6 mx-auto">
        <div>
            <h1 class="admin">Admin Login</h1>
        </div>
        <form class="col-lg-12 p-5 mx-auto mt-5 text-center shadow" ngNativeValidate autocomplete="on"
            (ngSubmit)="onSubmitAdmin()">

            <p *ngIf="invalidLogin" class="alert alert-danger"> Incorrect userName or password</p>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter your userName"
                    [(ngModel)]="username">
                <label for="userName">UserName</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="adminPassword" name="adminPassword"
                    placeholder="Enter your password" [(ngModel)]="password">
                <label for="adminPassword">Password</label>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" type="reset">Reset</button>
        </form>
    </div>
</div>
