<div class="customer">
    <h2> Update Customer </h2>
</div>

<div>
    <form class="col-lg-6 p-5 mx-auto mt-5 text-center shadow" ngNativeValidate autocomplete="on"
        (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your firstName"
                [(ngModel)]="customer.firstName" required>
            <label for="firstName">First Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your lastName"
                [(ngModel)]="customer.lastName" required>
            <label for="lastName">Last Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                [(ngModel)]="customer.email" required>
            <label for="email">Email</label>
        </div>


        <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone"
                [(ngModel)]="customer.phone" required>
            <label for="phone">Phone</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address"
                [(ngModel)]="customer.address" required>
            <label for="address">Address</label>
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
</div><br>
