.customer {
    text-align: center;
    color: black;
    margin: 50px;
    font-family: cursive;
}

.customer:hover {
    color: green;
    cursor: pointer;
    transition: color 0.5s;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.form {
    text-align: center;
}

label {
    color: black;
    display: inline-block;
    text-align: right;
    width: 100px;
}

input[type=text],
[type=number],
[type=email],
[type=password],
[type=tel] {
    background-color: black;
    width: 30%;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px !important;
    color: white;
}


input:focus {
    background-color: navy;
}

.reset {
    padding: 10px 10px;
    background-color: red;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 10px;
}

.reset:hover {
    background-color: navy;
}

.submit {
    padding: 10px 8px;
    background-color: green;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 10px;
}

.submit:hover {
    background-color: navy;
}
